/*
Bismillahir Rahmanir Rahim
Nafis Khan Chowdhury
Face Detection With JS
style.css
Date- 05/13/2020
Time- 10:53 AM
*/





#video{
    height: 560;
    width: 720;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    position: absolute;
}